body {
    background-color: rgb(255, 255, 255);
    grid-template-areas:
        "hd hd hd"
        "nav nav nav"
        "mn mn mn"
        "ft ft";
    margin: 0;
    padding: 0;
}

.navigation {
    display: flex;
    grid-area: "nav";
    width: auto;
    justify-content: space-around;
    background-color: rgb(67, 5, 154);
    height: 15vh;
    color: white;
    
}

.menu {
    height: 100vh;
    width: 80vw;
    background: rgb(67, 5, 154);
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0, 0, 0, 0.75);
    z-index: 10;
    color: white;
    text-decoration: none;
}
.menu a{
    margin: 10%;
    display: grid;
    text-decoration: none;
    color: white;
    font-size: xx-large;
}

.menu-button {
    cursor: pointer;
    display: none;
}



.menu-button i.material-icons {
    font-size: 2.5rem;
}

.show {
    left: 0;
}

.introduction {
    color: black;
    display: block;
    grid-area: "hd";
    height: 80vh;
    background-image: url("../img/lecture.png");
    color: white;
    background-size: 100%;
    object-fit: contain;
    background-repeat: no-repeat;
    padding: 20px;
    background-color: black;
    font-family: sans-serif;
}

.introduction h1{
    font-size: xx-large;
    text-align: center;
    font-family: serif;
}
.nav a{
    color: white;
    text-decoration: none;
}
.nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(67, 5, 154);
    height: 10vh;
    align-items: center;
    text-decoration:none;
    font-size: large;
    color: white;
}

.nav  a:before,.nav a:after{
    content: "|";
    padding: 0 10px;
}

.nav a:hover{
    color: salmon;
}

main{
    font-size: large;
}

.cardwrap{
    display: flex;
    padding: 10px;
    object-fit: cover;
    margin: 10px;
    font-family: sans-serif;
}

.card1 img{
}


.card1 img{
    max-width: 72%;
    height: auto;
}
.card2 img{
    max-width: 81%;
    height: auto;
}


.card3 img{
    max-width: 79%;
    height: auto;
}
.card1, .card2, .card3{
    margin:15px ;
}
.card1 h2, .card2 h2, .card3 h2{
    color: rgb(67, 5, 154);
    font-family: serif;
}
.ourTeam h2{
    color: rgb(67, 5, 154);
    font-family: serif;

}

main iframe{
    padding: 10px;
}

main ul{
    font-size: x-large;
}

main h2{
    margin: 10px;
    font-family: sans-serif;
}

.description{
    height: 60vh;
    padding: 10px;
    color: white;
    background-size: 100%;
    object-fit: contain;
    background-repeat: no-repeat;
    margin: 10px;
    font-family: sans-serif;
    background-color:rgb(67, 5, 154);    
}
.description h2{
    text-align: center;
    font-family: serif;
}
.description h3{
    margin: 10px;
}

footer {
    display: flex;
    grid-area: ft;
    color: black;
    background-color: rgb(67, 5, 154);
    color: white;
    align-items:baseline;
    justify-content: space-around;
    font-family: sans-serif;
}

footer h3 {
    width: 30vw;
}

footer img {
    width: auto;
    height: 50%;
    object-fit:scale-down;
}

footer a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: lightcoral;
    text-decoration: underline;
}

.fade-layer.visible {
    display: block;
}

.biography, .explore, .fastlinks, .contact{
    display: grid;
    padding: 10px;
}

li{
    font-family: sans-serif;
}

.titleAboutUs{
    text-align: center;
    color: rgb(67, 5, 154);
    font-size: xx-large;
}
.corporationInfo {
    display: flex;
    width: auto;
    justify-content: space-around;
    filter: grayscale(100%);
    font-family: sans-serif;
}

.desc{
     display: grid;
     text-align: center;
}

.corporationInfo img{
    width: 4%;
    height: 7%;
}
.contactTitle{
    color: rgb(67, 5, 154);
    font-size: x-large;
    display: grid;
    margin-left: 10%;
}
.contactTitle{
    font-family: serif;
}
.formular{
    display: grid;
    width: 20vw;
    margin-left: 10%;
    font-family: sans-serif;
}
#sendButton {
    text-decoration: none;
    background-color: rgba(5, 168, 5, 0.651);
    text-align: center;
    width: 30%;
    color: rgb(67, 5, 154);
    padding: 10px;
    margin: 10px;
    font-size: medium;
   }



#text{
    margin: 3rem;

}
.aboutpage{
    display: flex;
}

.aboutpage img{
    width: 40vw;
}

.aboutpage h2{
    color: rgb(67, 5, 154);
    font-family: serif;
}

.aboutpage h3{
    margin: 10px;
    padding: 10px;
    font-family: sans-serif;
}

.ourTeam{
    display: grid;
    text-align: center;
    margin: 10px;
    font-size: large;
}

.staff{
    display: flex;
    width: 100%;
}

.staff img{
    width: 23vw;
    height: auto;
    justify-content: space-around;
}

.staff h2, .staff h3{
    font-family:serif;
}
.bourbia{
    display: grid;
    color: rgb(67, 5, 154);
    width: 25%;
    font-family: sans-serif;
    font-size: large;
}
.bourbia h2, .bourbia h3{
    text-align: left;
}
.CEO img, .staff img{
    filter: grayscale(90%);
}
.cardParent {
    max-width: 300px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s;
    margin: 4rem;
    align-items: center;
    flex-direction: column;
    display: flex;
    font-family: sans-serif;
    align-items: center;
    color: rgb(67, 5, 154);
    max-height: 600px;
}

.cardParent h2{
    font-family: serif;
}

.personericons{
    border-radius: 900px;
    margin: 2rem;
    width: 200px;
    height: 200px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-content:center;
    grid-area: pictures;
    filter: grayscale(70%);
}
.card1content{
    margin: 10px;
}
.parentTitle{
    font-size: xx-large;
    text-align: center;
    color:  rgb(67, 5, 154);

}
.corporationInfo h2{
    font-size: x-large;
}
.cardParent h2{
    font-size: x-large;
}
.cardParent h3{
    color: black;
}
.Experiences{
        display: flex;
        justify-content: space-around;
}
.cardParent:hover {
    transform: scale(1.05);
}

@media (max-width:600px) {
    .cardParent h3{
    }
    .cardParent h2{
        text-align: left;
    }
    .nav{
        display: none;
    }

    .menu-button{
        display: grid;
        grid-area: "nav";
    }
   
    main {
        display: grid;
        font-size: xx-large;
        padding: 10px;
        grid-area: mn;
    }

     main iframe{
        display: none;
    }
    main h2{
        font-size: xx-large;
    }

    .title {
        background-color: rgb(58, 191, 153);
        display: block;
        grid-area: "hd";
        background-image: url('img/lecture.jpg');
    }

    body {
        grid-template-areas:
            "nav"
            "hd"
            "mn"
            "ft";
        width: auto;
        background-color: white;
    }

    .fade-layer{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        display: none;
        z-index: 5;
    }

    footer {
        display: grid;
        grid-area: ft;
        color: black;
        background-color: rgb(67, 5, 154);
        color: white;
    }

    footer h3 {
        font-size: medium;
        padding: none;
        margin: none;
    }

    footer img {
        width: auto;
    }

    footer a {
        text-decoration: none;
        color: white;
    }

    .biography, .explore, .fastlinks, .contact{
        text-align: left;
        display: grid;
        width: auto;
    }

    .biography h3, .contact h3{
        width: 100%;
        align-items: center;
        align-content: center;

    }

    .titleAboutUs{
        font-size: xx-large;
    }
    .titleAboutUs h1{
    }

    .CEO h2{
        text-align: left;
        font-size: large;
    }
    .CEO img, .staff img{
    }
    main h3{
        font-size: large;
    }
    .corporationInfo{
        display: grid;
        font-size: small;
        text-align: left;
    }
    .corporationInfo h2{
        font-size: large;
    }
    
    .corporationInfo img{
        width: 15%;
        height: auto;
        margin-left: 45%;
    }
    .corporationInfo h3{
        color: black;
    }

   #sendButton {
    text-decoration: none;
    background-color: rgba(5, 168, 5, 0.651);
    text-align: center;
    width: 30%;
    color: rgb(67, 5, 154);
    padding: 10px;
    margin: 10px;
    font-size: medium;
    margin-left: 33%;
   }
   #sendButton:hover{
    color:  rgb(67, 5, 154);
}

.national{
    background-image: url(../img/sweden.jpg);
    height: 100vw;
    background-size: 100%;
    padding: 10px;
    color: white;
}

.ourTeam{
    display: grid;
    padding: 10px;
}
.staff{
    display: grid;
}
.bourbia{
    display: flex;
    margin: 10px;
}
.bourbia h2, .bourbia h3{
    font-size: larger;
    margin: 10px;
}

.aboutpage{
    display: grid;
}
.aboutpage img{
    width: 100%;
}
.CEO h2{
    font-size: x-large;
}
.formular{
    width: auto;
}
.introduction{
    grid-area: 'mn';
    width: 85vw;
    background-size: 200%;
    object-fit: cover;
}
.introduction h3{
    color: white;
}
main ul{
    margin-left: 0%;
}
.cardwrap{
    display: grid;
}

.description h3{
    opacity: 100%;


}
.description img{
    opacity: 10%;
}
.cardwrap h2{
    font-family: serif;
}
.card1 h3,.card2 h3,.card3 h3{
    color: black;
}

.card1 img{
    max-width: 70%;
    height: auto;
}
.card2 img{
    max-width: 70%;
    height: auto;
}

.card3 img{
    max-width: 70%;
    height: auto;
}


.clientsExamples{
    display: grid;
}


.Experiences{
    display: grid;
}
}